.techUser-home {
    text-align: center;
    padding-bottom: 1em;
    min-height: calc(100vh - 34px);

}

.techUser-home p {
justify-content: center;
align-content: center;
text-align: left;
padding-left: 2em;
padding-top: 2em;
}

.techUser-home .sign-in p{
    background-color: green;
    padding: 1em;
    font-size: 10px;
    
}